@use "./variables/variables.scss";

.landingSection {
    height: 100vh;
    padding-block: 5rem;

    // @media (max-width: variables.$extra-large-mobile) {
    //     display: flex;
    //     flex-direction: column;
    //     padding-block: 0;
    // }
    
    .landingContainer {
        display: flex;
        justify-content: center;
        max-width: 60rem;
        margin-inline: auto;
        position: relative;
        // background-color: aquamarine;

        @media (max-width: 500px) {
            flex-direction: column;
        }

        .wordsContainer {
            margin-left: 5rem;

            @media (max-width: 500px) {
                margin: 2.5rem auto 0 auto;
                width: 90vw;
            }
        }

        .imageComponentContainer {
            // order: 4;
        }

        .headingContainer {
            // @media (max-width: variables.$extra-large-mobile) {
            //     margin: 0 0;
            //     margin-inline: auto;
            //     width: 80vw;
            // }

            // @media (max-width: variables.$large-mobile) {
            //     width: 90vw;
            // }

            .title {
                color: black;
                font-size: 3rem;
                margin: 0 0 2.5rem 0;
            }
            
            .subheading {
                font-size: 2rem;
                color: black;
                margin: 0 0 2.5rem 0;
            }
        } 

        .textContainer {
            // margin-left: 2rem;
            p {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }

            // @media (max-width: variables.$extra-large-mobile) {
            //     margin: 0 0;
            //     width: 80vw;
            //     margin-inline: auto;
            //     order: 3;
            // }

            // @media (max-width: variables.$large-mobile) {
            //     width: 90vw;
            // }
        }
    }
}

.text {

}